input {
  display: inline-flex;
  align-items: flex-start;
  gap: var(--space-1x, 4px);
  width: 16px;
  height: 16px;
  border-radius: var(--radius-small, 2px);
  border: 2px solid var(--border-neutral-strong, #9e9e9e);
  border: 2px solid var(--border-neutral-strong, color(display-p3 0.6196 0.6196 0.6196));
  background: var(--background-container, #fff);
  background: var(--background-container, color(display-p3 1 1 1));
}
input:checked {
  display: flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--radius-small, 2px);
  border: 2px solid var(--border-primary, #0081c2);
  border: 2px solid var(--border-primary, color(display-p3 0 0.4902 0.7216));
  background: var(--background-primary, #0081c2);
  background: var(--background-primary, color(display-p3 0 0.4902 0.7216));
}
