:host {
  cursor: pointer;
  display: flex;
  padding: var(--space-1x, 4px);
  align-items: center;
  gap: var(--space-1x, 4px);
  align-self: stretch;

  display: flex;
  width: 218px;
  padding: 4px var(--space-1x, 4px);
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--text-neutral, #212121);
  color: var(--text-neutral, color(display-p3 0.1294 0.1294 0.1294));

  /* body/body-2 */
  font-family: var(--styles-body-2-regular-family, Roboto), sans-serif;
  font-size: var(--styles-body-2-regular-size, 14px);
  font-style: normal;
  font-weight: var(--styles-body-2-regular-weight, 400);
  line-height: var(--styles-body-2-regular-line-height, 20px); /* 142.857% */

  border-bottom: 1px solid var(--border-neutral, #e0e0e0);
  border-bottom: 1px solid var(--border-neutral, color(display-p3 0.8784 0.8784 0.8784));
  background: var(--background-container, #fff);
  background: var(--background-container, color(display-p3 1 1 1));
  .icon {
    width: var(--space-5x, 20px);
    height: var(--space-5x, 20px);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M2 6C2 3.79086 3.79086 2 6 2H14C16.2091 2 18 3.79086 18 6V14C18 16.2091 16.2091 18 14 18H6C3.79086 18 2 16.2091 2 14V6Z' fill='%23757575' style='fill:%23757575;fill:color(display-p3 0.4588 0.4588 0.4588);fill-opacity:1;'/%3E%3C/svg%3E");
  }
}
