.action-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;
}

.actions {
  display: flex;
  align-items: center;
}
