:host {
  display: flex;
  width: 333px;
  padding: var(--space-3x, 12px);
  align-items: flex-start;
  gap: var(--space-2x, 8px);
  border-radius: var(--radius-medium, 4px);
  border: 1px solid var(--border-neutral, #e0e0e0);
  border: 1px solid var(--border-neutral, color(display-p3 0.8784 0.8784 0.8784));
  background: var(--background-container-weak, #f5f5f5);
  background: var(--background-container-weak, color(display-p3 0.9608 0.9608 0.9608));
  .icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cg clip-path='url(%23clip0_244_788)'%3E%3Cpath d='M10 1.66666C5.40002 1.66666 1.66669 5.39999 1.66669 9.99999C1.66669 14.6 5.40002 18.3333 10 18.3333C14.6 18.3333 18.3334 14.6 18.3334 9.99999C18.3334 5.39999 14.6 1.66666 10 1.66666ZM10.8334 14.1667H9.16669V9.16666H10.8334V14.1667ZM10.8334 7.49999H9.16669V5.83332H10.8334V7.49999Z' fill='%23212121' style='fill:%23212121;fill:color(display-p3 0.1294 0.1294 0.1294);fill-opacity:1;'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_244_788'%3E%3Crect width='20' height='20' fill='white' style='fill:white;fill-opacity:1;'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    h3 {
      margin: 0;
      align-self: stretch;
      color: var(--neutrals-grey-900, #212121);
      color: var(--neutrals-grey-900, color(display-p3 0.1294 0.1294 0.1294));

      /* Desktop + Tablet (MD)/Body/Body 2 Medium */
      font-family: Roboto, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
    }
    p {
      margin: 0;
      align-self: stretch;
      color: var(--text-neutral, #212121);
      color: var(--text-neutral, color(display-p3 0.1294 0.1294 0.1294));

      /* body/body-2 */
      font-family: var(--styles-body-2-regular-family, Roboto), sans-serif;
      font-size: var(--styles-body-2-regular-size, 14px);
      font-style: normal;
      font-weight: var(--styles-body-2-regular-weight, 400);
      line-height: var(--styles-body-2-regular-line-height, 20px); /* 142.857% */
    }
  }
}
